:root {
    --size: 16;
    --gridSize: 16px;
}

body{
    display: flex;
    grid-template-columns: 30% 70%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    width: 200px;
}

.grid {
    /* width: var(--gridSize);
    height: var(--gridSize); */
    border: 1px solid black;
}

#container {
    display: grid;
    margin: 0px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--size), auto);
    grid-template-rows: repeat(var(--size), auto);
    width: 500px;
    height: 500px;
}

.filled {
    background-color: black;
}

